.container{ 
  display:flex;
   justify-content:center;
}
body{ 
    background-color: #ebefdffd;
     color:#333;
    padding: 20px;
  line-height: 1.6; 
}

h1{
  margin-top: 1px;
  margin-bottom: 20px; 
  font-size: 30px;
  text-align: center;
  color: #4e677f;
  font-family: 'Arial', sans-serif;
}

h2{
  color:#4e677f;
  font-family: 'Arial', sans-serif;
  font: weight 158px;;
}

h3{
  color:#4e677f;
  font-family: 'Arial', sans-serif;
  font: weight 158px;;
}

table{
  width: 100%;
   border-collapse:collapse;
     margin-top: 20px;
   margin:auto 0;
  text-align: center;
}
.imagens{
  display:flex;
     justify-content: center;
  margin-top: 300px;
}


p{font-size: 20px;}

table{
    width: 100px;
     border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

th{
    background-color: rgb(45, 86, 122);
     color: white;
     text-align: left;
    padding: 10px;
}

/*sai testando umas coisas aqui, por isso o css ficou tao longo*/
a{
    color:brown;
    text-decoration: none;
}
a:hover{
    color:blue
}
